<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Account creation</title>
    <link rel="stylesheet" href="./output.css">
</head>
<body class="bg-slate-100 min-h-screen flex items-center justify-center p-10">
    <div class="w-full max-w-md">
      <div class="bg-white rounded-2xl shadow-xl p-8 border-gray-100">
         <form action="/users/create" method="post">
         <div class="">
           <label for="" class="block">Username</label>
           <input type="text" name="" id="" class="p-4 rounded-xl bg-slate-50 focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
         <div class="">
           <label for="" class="block font-semibold text-sm">Email</label>
           <input type="email" name="" id="" class="p-4 rounded-xl bg-slate-50 focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
         <div class="">
           <label for="" class="block">Password</label>
           <input type="password" name="" placeholder="" id="" class="p-4 rounded-xl bg-slate-50 focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
        <button type="submit" 
                class="w-full py-4 px-6 bg-blue-600 hover:bg-blue-700 text-white font-bold rounded-xl shadow-lg shadow-blue-200 transition-all duration-200 transform active:scale-[0.98]">
                Get Started
        </button>
       </form>
      </div>
    </div>
</body>
</html>